body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #003366;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    color: #003399;
}

header h1, header h2, header h3 {
    margin: 5px 0;
}

.toc ul {
    list-style: none;
    padding-left: 0;
}

.toc li {
    margin: 6px 0;
}

.toc a {
    color: #0066cc;
    text-decoration: none;
}

.toc a:hover {
    text-decoration: underline;
}

section h2 {
    color: #004c99;
    margin-top: 30px;
}

hr {
    margin: 30px 0;
    border: 0;
    height: 1px;
    background: #cce0ff;
}

.image-center {
    text-align: center;
    margin-top: 20px;
}
